
$purple: #9b51e0;
$orange: #ffc740;
$dark-purple: #6d3d99;
$primary: $purple;
$secondary: $orange;
$info: $dark-purple;
$dark: #000000;
$light: #ffffff;

@import "../../node_modules/bootstrap/scss/bootstrap";


